# Comments canNOT appear after a pattern match, they must be on a new line

# R project configs
.Rproj.user/
.Rproj.user
.Rhistory
*.Rproj

# Tmp files
*cache*
*tmp*
*.swp
*.swo
*.swn
*.fuse_hidden*
.ipynb_checkpoints  # https://stackoverflow.com/questions/36306017/should-ipynb-checkpoints-be-stored-in-git/39997938

# Data
*.csv
*.xlsx
**/init/extdata
*.Rdata
*.rda
*.rds
*.tar.gz
*.p

# Images
*.html
*.png
*.ai
*.jpg
*.jpeg
*.svg
*.PNG
*.tiff

# Rendered Reports
*.html
*.pdf
*.pptx
# *.Rd  #! I need Rd files in R repos for document to work in directly installed pkgs (eg, by `install_git`)

# Rendered html byproducts
# TrueType Font
*.ttf  
*.css
*.map
*.js
*.eot
# Web Open Font Format
*.woff 
*.woff2

# `**/<dirname>` matches directories anywhere in the repo
#**/.depreciated  # I want to have the flexibility to depreciate code with a low threshold, but would still like it for reference

