# Rules for what to not version control
#
# Patterns:
# * `**/<dirname>` matches directories anywhere in the repo
#
# Comments canNOT appear after a pattern match, they must be on a new line

################################################################################
####                             CONFIGS                                    ####
################################################################################

# DEV ----
.vscode/

# R project configs 
.Rproj.user/
.Rproj.user
.Rhistory
*.Rproj

# ipython notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*


################################################################################
####                            FILETYPES                                   ####
################################################################################
# Tmp files
*cache*
*tmp*
*.swp
*.swo
*.swn
*.fuse_hidden*
*.pyc

# Data
*.csv
*.xlsx
**/init/extdata
*.Rdata
*.rda
*.rds
*.feather
*.tar.gz
*.tar
*.7z
*.p
*.pickle
# pytorch model files
*.pt
*.mat

# Images
*.html
*.png
*.ai
*.jpg
*.jpeg
*.svg
*.PNG
*.tiff

# Videos
*.webm
*.mp3
*.mp4

# Rendered Reports
*.html
*.pdf
*.pptx
# *.Rd  #! I need Rd files in R repos for document to work in directly installed pkgs (eg, by `install_git`)

# Rendered html byproducts
# TrueType Font
*.ttf  
#*.css
*.map
#*.js
*.eot
# Web Open Font Format
*.woff 
*.woff2
