[user]
	name = marcus-alim
	email = marcus.badgeley@alimetry.com
[push]
	default = simple
[credential]
	helper = cache --timeout=1200
[core]
	editor = vim
	autocrlf = input
	excludesFile = /home/marcus/.gitignore
	longpaths = true
[rebase]
	stat = true
[color]
    ui = true
    status = always
    interactive = always
    branch = always
    diff = always
[color "status"]
    added = "green bold"
    changed = "yellow bold"
    untracked = "magenta bold"
    unmerged = "red bold"
    branch = "cyan bold"
    header = "white"
[pull]
	ff = only
